# Transformations

Have questions? Chat with us on Github or Slack:

[![Homepage](https://img.shields.io/badge/fugue-source--code-red?logo=github)](https://github.com/fugue-project/fugue)
[![Slack Status](https://img.shields.io/badge/slack-join_chat-white.svg?logo=slack&style=social)](http://slack.fugue.ai)

We already saw some Fugue API functions including `transform()`, `save()`, `load()`, and `show()`. This section covers the other available functions under the Fugue API. The functions shown here do not accept an `engine` argument. They will just work on whatever input DataFrame is passed (Pandas, Spark, Dask, Ray). All the details of the individual functions can be found in the [Fugue API documentation](https://fugue.readthedocs.io/en/latest/top_api.html#transformation).

### Setup

In [11]:
import pandas as pd
import fugue.api as fa 
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

df = pd.DataFrame({"a": [1,2,3], "b": ["Apple", "Banana", "Carrot"]})
sdf = spark.createDataFrame(df)

### Alter Columns

Takes a Fugue schema expression and updates the column types.

In [13]:
fa.alter_columns(sdf, "a:float")

+---+------+
|  a|     b|
+---+------+
|1.0| Apple|
|2.0|Banana|
|3.0|Carrot|
+---+------+

## Drop Columns

Drops columns from a DataFrame.

In [6]:
fa.drop_columns(df, ["a"])

        b
0   Apple
1  Banana
2  Carrot

## Head

Returns the first `n` rows of the DataFrame

In [17]:
fa.head(df, n=2)

   a       b
0  1   Apple
1  2  Banana

In [ ]:
## Rename


rename()
select_columns()
distinct()
dropna()
fillna()
sample()
take()

## Lazy Evaluation

All the examples below will apply the Fugue API functions on Pandas. It will also work for Spark, Dask, and Ray also. Note that the distributed backends will be lazy so we need to call `fa.show()` to make it run. For example:

In [ ]:
fa.show(fa.drop_columns(sdf, ["a"]))